@{
    ViewBag.Title = "Home Page";
}
    <div class="jumbotron" style="text-align:center;">
        <h1>Book Store!</h1>
        <p class="lead">Welcome to the Book Store!</p>
    </div>

    <div class="row">
        <div class="col-md-4" style="text-align:center;">
            <h2>View books</h2>
            <p>Books</p>
            <p><a class="btn btn-success" href="/Book/Index">Go to Books</a></p>
        </div>
        <div class="col-md-4" style="text-align:center;">
            <h2>View authors</h2>
            <p>Authors</p>
            <p><a class="btn btn-success" href="/Author/Index">Go to authors</a></p>
        </div>
        <div class="col-md-4" style="text-align:center;">
            <h2>View publishers</h2>
            <p>All publishers</p>
            <p><a class="btn btn-success" href="/Publisher/Index">Go to publishers</a></p>
        </div>
    </div>
